* {
	box-sizing: border-box;
	/*border: 1px solid blue;*/
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0px;
	list-style-type: none;
}

#map-canvas {
    width: 760px;
    height: 620px;
    background-color: #ccc;
    display: block;
    border: 1px solid #b5b5b5;
}

.search-input {
	width: 100%;
}

.list-group-item {
	display: block;
	padding: 0.3em 0;
	border: 1px solid #e5e5e5;
}

.list-group-item:hover {
	cursor: pointer;
	background-color: #bbb;
	font-size: 110%;
}

.list-group-item:active {
	background-color: #bbb;
}

.infoWindow {
	justify-content: center;
	text-align: center;
}

.infoWindow strong {
	font-size: 24px;
	color: goldenrod;
}

#topLink {
    display: none;
}

#copy {
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    color: goldenrod;
}


/*****************************
		MEDIA QUERIES
******************************/

@media (min-width: 400px) {

}