* {
	box-sizing: border-box;
	/*border: 1px solid blue;*/
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0px;
	list-style-type: none;
}

.heading {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 55px;
	color: #206E4F;
	padding-bottom: 0.3em;
}

#map-canvas {
    width: 760px;
    height: 620px;
    background-color: #ccc;
    display: block;
    border: 1px solid #b5b5b5;
}

.search-input {
	width: 100%;
	padding-bottom: 10px;
	font-size: 24px;
	font-family: 'Josefin Slab', serif;
}

.list-group-item {
	display: block;
	padding: 15px 10px;
	border: 1px solid #e5e5e5;
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	overflow: hidden;
	color: #206E4F;
}

.list-group-item:hover {
	cursor: pointer;
	background-color: #D9D5C5;
}

.list-group-item:active {
	background-color: #D9D5C5;
}

.infoWindow {
	justify-content: center;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 16px;
	color: #4E4F3E;
	background-color: #D9D5C5;
}

.infoWindow strong {
	font-family: 'Amatic SC', cursive;
	font-size: 32px;
	color: #206E4F;
}

#topLink {
    display: none;
}

#copy {
	font-family: 'Amatic SC', cursive;
    margin-top: 10px;
    font-size: 32px;
    color:  #206E4F;
}


/*****************************
		MEDIA QUERIES
******************************/

@media (max-width: 1200px) {
	#map-canvas {
		width: 100%;
		max-width: 100%;
	}

	.search-container {
		padding: 10px 0px;
	}
}

@media (max-width: 800px) {
	.container {

	}
	.heading {
		font-size: 32px;
		font-weight: 400px;
	}

	#copy {
		font-size: 24px;
	}

	.search-container {
		display: none;
	}
}

